body {
}

.banner_01 {
    width: 1150px;
    margin: 0 auto;
}

.banner_01 .banner_top {
    height: 182px;
    padding-top: 70px;
    padding-bottom: 42px;
    display: flex;
    justify-content: space-between;
}

.banner_01 .banner_top .b_buttons {
    display: flex;
}
.banner_01 .banner_top .b_buttons button {
    width: 200px;
    height: 70px;
    background-color: #ff8989;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    color: #ffd9d9;
    margin-left: 55px;
    cursor: pointer;
}
.banner_01 img {
    width: 1150px;
}
